@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h3>Add new Student</h3>
<hr />
@using(Html.BeginForm())
{
  <div class="form-group">
    <h2>@Html.LabelFor(model => model.Name)</h2>
    <p>@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</p>
  </div>
  <div class="form-group">
    <h2>@Html.LabelFor(model => model.EnrollmentDate)</h2>
    <p>@Html.EditorFor(model => model.EnrollmentDate, new { htmlAttributes = new { @class = "form-control" } })</p>
  </div>
  <div class="form-group">
    <input type = "submit" value = "Add a new Student" class = "btn btn-dark" />
  </div>
}

<hr />

@Html.ActionLink("Back to Students", "Index", new { }, new { @class = "btn btn-outline-primary" })